@layer reset, base, components;

@import url('normalize.css') layer(reset);
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap') layer(base);

@layer reset {
    :root {
        --primary: #07755D;
        --secondary: #59bc1c;
        --denied: #ff8686;
        --text: #515959;
        --border: #59de0c;
    }
    .main {
        display: flow-root;
    }
}

@layer base {
    html {
        font-family: 'Inter', sans-serif;
        color: var(--text);
    }
    .card {
        max-width: 21em;
        margin: 1rem; /* without scaling */
        padding: 1em;
        border: 1px solid #717272;
        border-radius: 10px;
    }
}

@layer components {
    /* todo components */
    .card--creative {
        background-color: #FCE3F1;
        

    }
    .greenA {
        color: var(--primary);
    }
    .nadpis {
        font-size: 2em;
        font-weight: 800;
        margin: 16px 0 8px 0;
    }
    .nadpis-secondary {
        color: var(--secondary);
    }
    .nadpis-zuzova {
        color: #E63D8D;
        text-align: center;
    }
    .text {
        font-size: 1em;
        margin-bottom: 4px;
    }
    .text-zuzovy {
        color: #931880;
        font-size: 0.8em;
    }
    .text-center {
        text-align: center;
    }
    .text-big {
        font-size: 1.5em;
        font-weight: 800;
    }
    .block {
        margin-bottom: 16px;
    }
    .undertext {
        font-size: 0.8em;
        margin-top: 4px;
        margin-bottom: 16px;
    }
    .green {
        color: var(--primary);
        font-weight: 800;
    }
    .btn {
        text-decoration: none;
        display: block;
        padding: 12px 32px;
        text-align: center;
    }
    .btn-primary {
        background-color: var(--primary);
        color: white;
        border-radius: .5rem;
    }
    .btn--ruzovy {
        background-color: #E63D8D;
        color: white;
        border-radius: 50px;
        
    }
    .card-spec {
        padding: 0;
        list-style-type: none;
        margin-bottom: 0.1em;
        list-style-position: inside;
    }
    .sez {
        margin: 24px 0px 24px; 
    }
    .yes {
        list-style-image: url(./../images/check.svg);
    }
    .no {
        list-style-image: url(./../images/cross.svg);
    }
    .cen {
        text-align: center;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    .kolecko {
        width: 7.5rem;
        height: 7.5rem;
        border-radius: 50%;
        background:  #E63D8D;
        color: inherit;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 3rem auto 3rem;
        font-weight: 800;
        text-align: center;
        color: white;
    }
}